<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all activities during this vacation</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .persons, .persons td {
            border: 1px solid lightgray;
            padding: 5px;
        }

    </style>
</head>
<body>
<h1>Страдания:</h1>

<table class="activities">
    <thead>
    <tr>
        <th>Name</th>
        <th>Distance</th>
        <th>Type of Activity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="activity : ${activityList}">
        <td th:text="${activity.name}">Name</td>
        <td th:text="${activity.distance}">Distance</td>
        <td th:text="${activity.typeOfActivity}">Type of activity</td>
    </tr>
    </tbody>
</table>
</body>
</html>
